*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#08111f;
color:#fff;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
background:#0d1b2a;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
box-shadow:0 5px 20px rgba(0,0,0,.3);
}

.logo{
font-size:28px;
font-weight:800;
color:#00c3ff;
}

.logo span{
color:#ffffff;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#00c3ff;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:150px 8% 60px;
gap:40px;
}

.hero-left{
max-width:600px;
}

.hero h1{
font-size:60px;
line-height:1.2;
margin-bottom:20px;
}

.hero h1 span{
color:#00c3ff;
}

.hero p{
font-size:20px;
color:#d8d8d8;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#00c3ff;
color:#000;
text-decoration:none;
border-radius:40px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
transform:scale(1.08);
}

.hero-right img{
width:350px;
max-width:100%;
border-radius:20px;
box-shadow:0 0 35px #00c3ff;
}
.about,
.quiz,
.blog,
.contact{
padding:80px 8%;
text-align:center;
}

.about h2,
.quiz h2,
.blog h2,
.contact h2{
font-size:40px;
color:#00c3ff;
margin-bottom:25px;
}

.about p,
.quiz p,
.blog p,
.contact p{
font-size:18px;
line-height:1.8;
margin-bottom:20px;
color:#ddd;
}

.card{
background:#12263f;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,195,255,.2);
max-width:700px;
margin:auto;
}

.contact a,
.footer-links a{
color:#00c3ff;
text-decoration:none;
}

footer{
background:#06111d;
padding:40px 8%;
text-align:center;
}

.footer-links{
margin:20px 0;
}

.footer-links a{
margin:0 12px;
}

.copyright{
color:#aaa;
margin-top:15px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
margin:8px;
display:inline-block;
}

.hero{
flex-direction:column;
text-align:center;
padding-top:150px;
}

.hero h1{
font-size:40px;
}

.hero-right img{
width:260px;
}

  }
